<center>
<div class="box_div_main_page">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<script src="/js/form.js"></script>
</head>
<body>
<body onload = "checkCookies()">
<p id="cookies"></p>
<h1> Mike's Second Personal Details App </h1>
<form method = "post" action = "main_page">
<hr>
<h3> Welcome! To get started, please enter your first and last name. </h3>
<hr>
<center>
<input type="text" id="first" name = "first_name_input_box" placeholder="First Name" required onfocus>
<br><br>
<input type="text" id="last" name = "last_name_input_box" placeholder="Last Name" required>
<hr>
<input class = "button" type = "submit" value = "Next" onclick>
</center>
<br>
</form>
</body>
</center>